@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "highlight.js/styles/monokai.css";


.course-show-hero-bg {
    width: 100%;
    position: relative;
}

.course-show-hero-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #11142D;
    left: 0;
    right: 0;
    bottom: -29px;
    -webkit-mask-image: url(/images/courses/hero-bg.svg);
    mask-image: url(/images/courses/hero-bg.svg);
    mask-size: cover;
    z-index: 10;
}
